* {
    margin: 0;
    padding: 0; }

    .ImgHome{
        width: 100%;
    }
header {
    background-color: rgba(110, 188, 240, 0.699);
    max-width: auto;
    margin: 100 auto;
    padding: 20px 0;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NavBar{
    max-width: auto;
    margin: 100 auto;
    padding: 20px 0;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    text-decoration: none;
    font-size: 30px;
}
.containerProductos {
    max-width: auto;
    height: 900px;
    margin: 60px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center
}

.Item {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-style: inset;
}
.ItemImg {
    width: 25rem;
}

.ItemDetail{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.ImgDetail{
    width: 40rem;
}