* {
    margin: 0;
    padding: 0;
    background-size: cover;
}

body {
    background-image: url(../public/assets/portada3.jpg );
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.ImgHome {
    width: 100%;
}

.Header {
    background-color: rgba(110, 188, 240, 0.699);
    max-width: auto;
    margin: 100 auto;
    padding: 20px 0;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Usuario{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(110, 188, 240, 0.699);
}

.NavBar {
    max-width: 90rem;
    margin: 100 auto;
    padding: 20px 0;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    text-decoration: none;
    font-size: 30px;
}

.containerProductos {
    margin: 60px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center
}

.Item {
    background-color: rgba(62, 129, 190, 0.219);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-style: inset;
}

.ItemImg {
    width: 25rem;
    height: 19rem;
}

.ItemDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgba(109, 140, 165, 0.699);
}

.ImgDetail {
    width: 40rem;
}

.ImgCar {
    width: 5rem;

}

.widget {
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.widget-visible {
    visibility: visible;
    opacity: 1;
}