.NavBar{
/* background-color: rgba(110, 188, 240, 0.699); */
max-width: auto;
margin: 0 auto;
padding: 20px 0;

display: flex;
justify-content: center;
align-items: center;
}

/* .NavBar-button{
min-width: 900px;
display: flex;
justify-content: space-around;
align-items: center;
} */
.menu {

    max-width: 900px;
    margin: 50px auto;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30%;
    margin-bottom: 20px;
}

.containerProductos{
max-width: 1300px;
height: 900px;
margin: 60px auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: flex-end
}

.ItemImg{
    width: 75%;
    height: 50%;
}

.Item{
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-style: inset;
    
}